
h1 {
	border-bottom: 5px solid lightblue;
	color: white;
}


/* .reset {
	background-color: green;
} */

/* .btn{
	float:left;
} */
body {
	color: white;
	background-color: black;
}

/* .contents{
	width:100%
 } */
.dark {
	background-color: white;
}

